@font-face {
    font-family: 'GeometrySoftProBoldN';
    src: url('fonts/Geometry_Soft_Pro-Bold_N-webfont.eot');
    src: url('fonts/Geometry_Soft_Pro-Bold_N-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Geometry_Soft_Pro-Bold_N-webfont.woff') format('woff'),
         url('fonts/Geometry_Soft_Pro-Bold_N-webfont.ttf') format('truetype'),
         url('fonts/Geometry_Soft_Pro-Bold_N-webfont.svg#GeometrySoftProBoldN') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
	margin: 0px auto;
	width: 99%;
	background: #34495e;
	color: #ecf0f1;
	font-family: Lato, sans-serif;
	height: 95%;
}
*, *:hover, *:focus, *:active {
	-webkit-transition: all 100ms ease-in 0s;
	-moz-transition: all 100ms ease-in 0s;
	-o-transition: all 100ms ease-in 0s;
	transition: all 100ms ease-in 0s;
}
#banner {
	margin-top: -70px;
	width: 100%;
	background-image: url('bg.svg');
	background-position: center center;
	background-color: #e74c3c;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	height: 25%;
	min-height: 300px;
	text-align: center;
}
#banner h1 {
	font-family: 'GeometrySoftProBoldN', cursive;
	font-size: 8rem;
	margin-left: 300px;
	padding-top: 80px;
}
#container {
	max-width: 900px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
#dropzone {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	display: none;
	background: hsla(0,0%,0%,.7);
	text-align: center;
}
#dropzone h1 {
	margin-top: 30%;
	font-size: 5rem;
}
#info p {
	color: #bdc3c7;
}
strong {
	font-size: 1.5rem;
	font-weight: bold;
	color: #ecf0f1;
}
a#select {
	display: inline-block;
	padding: 15px 20%;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	background: #E74C3C;
	color: #34495e;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}
a#select:hover {
	background: #ec7063;
}
a#select:active {
	background: #dc2d1b;
}
ul, li {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 1.0rem;
	text-align: left;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	    text-overflow: ellipsis;
}
li a {
	font-weight: 600;
}
a.uploaded {
	color: #3498db;
}
a.uploaded:hover {
	color: #2980b9;
}
a.uploaded:active {
	color: #226a9b;
}
@media screen and (max-width: 780px) {
	/* Screen thin-ness */
	#banner {
		background-image: none;
		text-align: center;
	}
	#banner h1 {
		margin-left: 0;
	}
}
@media screen and (max-width: 440px) {
	#banner {
		margin: -50px 0 0 0;
		height: 150px;
		min-height: 150px;
		text-align: center;
	}
	#banner h1 {
		padding-top: 2rem;
		font-size: 5rem;
	}
	#container {
		width: 100%;
		margin-top: -10px;
	}
	a#select {
		width: 100%;
		padding: 15px 0;
	}
	#info p:nth-child(2) {
		display: none;
	}
	li {
		margin-left: 10px;
	}
}
@media screen and (max-height: 500px) {
	#banner {
		margin: 20px 0 0 0;
		padding: 0;
		background-image: none;
		min-height: 100px;
		text-align: center;
	}
	#banner h1 {
		margin: 0;
		display: inline;
		font-size: 5rem;
	}
	#info p:nth-child(2) {
		display: none;
	}
}
