@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url('http://yui.yahooapis.com/3.5.0/build/cssreset/cssreset-min.css');
@font-face {
	font-family: 'GeometrySoftProBoldN';
	src: url('fonts/Geometry_Soft_Pro-Bold_N-webfont.eot');
	src: url('fonts/Geometry_Soft_Pro-Bold_N-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Geometry_Soft_Pro-Bold_N-webfont.woff') format('woff'),
	url('fonts/Geometry_Soft_Pro-Bold_N-webfont.ttf') format('truetype'),
	url('fonts/Geometry_Soft_Pro-Bold_N-webfont.svg#GeometrySoftProBoldN') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*Layout*/
header {
	height: 20vw;
	min-height: 190px;
	margin: 20px 0 20px 0;
	width: 100%;
	padding: 80px 0 0 0;
}
#container {
	max-width: 900px;
	width: 80%;
	margin: 0 auto;
}
#dropzone {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	height: 80%;
	width: 100%;
	padding-top: 20%;
	display: none;
}
#status {
	margin-top: 8px;
}
a#select {
	display: inline-block;
	padding: 15px 20%;
	margin-bottom: 3px;
	border-radius: 9px;
	border-radius: 9px;
}
#status ul li {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
footer {
	margin: 25px auto 25px auto;
}
footer li {
	display: inline;
}

/*Styling*/
html, body {
	margin: 0px auto;
	width: 99%;
	background: #34495e;
	font-family: Lato, sans-serif;
	color: #ecf0f1;
}
* { /*This is probably uncalled for but I think it looks neat.*/
	-webkit-transition: all 100ms ease-in 0s;
	-moz-transition: all 100ms ease-in 0s;
	-o-transition: all 100ms ease-in 0s;
	transition: all 100ms ease-in 0s;
}
header {
	background-image: url('bg.svg');
	background-position: center center;
	background-color: #e74c3c;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	font-family: 'GeometrySoftProBoldN', cursive;
	font-size: 9.5rem;
	text-indent: 300px;
}
header a, header a:hover, header a:active {
	color: #ecf0f1;
	text-decoration: none;
}
#container {
	text-align: center;
}
#dropzone {
	overflow: hidden;
	background: hsla(0,0%,0%,.7);
	text-align: center;
}
#dropzone h1 {
	font-size: 5rem;
}
#info p {
	color: #bdc3c7;
}
strong {/*Our strongs are very strong.*/
	font-size: 1.5rem;
	font-weight: bold;
	color: #ecf0f1;
}
a#select {
	background: #E74C3C;
	color: #34495e;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}
a#select:hover {
	background: #ec7063;
}
a#select:active {
	background: #dc2d1b;
}
#status ul li {
	list-style-type: none;
	font-size: 1.0rem;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}
a {
	color: #3498db;
}
a:hover {
	color: #2980b9;
}
a:active {
	color: #226a9b;
}
a.uploaded {
	font-weight: 600;
}
footer {
	text-align: center;
}
footer li {
	text-align: center;
	list-style-type: none;
}
footer li + li::before {
	/*Maybe it would be more elegant to have them as inline-blocks and use borders?*/
	content: " | ";
}

/*Media queries*/
@media (max-width: 810px) {
	/* Screen thin-ness */
	header {
		background-image: none;
		min-height: 150px;
		max-height: 150px;
		height: 150px;
		padding: 5px 0 0 0;
		font-size: 8rem;
		text-align: center;
		text-indent: 0;
	}
}
@media (max-height: 500px) {
	header {
		margin: 20px 0 20px 0;
		padding: 5px 0 0 0;
		background-image: none;
		min-height: 150px;
		max-height: 150px;
		text-align: center;
		text-indent: 0;
	}
	#info p:nth-child(2) {
		display: none;
	}
}
@media (max-width: 440px), (max-width: 880px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 880px) and (min-resolution: 2dppx), (max-width: 880px) and (min-resolution: 192dpi) {
	header {
		margin: 20px 0 20px 0;
		min-height: 100px;
		max-height: 100px;
		font-size: 5rem;
	}
	#container {
		width: 100%;
		margin-top: -10px;
	}
	a#select {
		width: 100%;
		padding: 15px 0;
	}
	#info p:nth-child(2) {
		display: none;
	}
	#status ul li {
		margin-left: 10px;
	}
}
