body {
	background: #2c373b;
	color: #b2b9bC;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 600;
}

.button {
	border-radius: 0.5em;
	box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5);
	color: #fff;
	display: inline-block;
	text-decoration: none;
}

.button:hover {
	background-color: #369ab8;
}

#nav a {
	color: #fff;
	/*font-style: italic;*/
	text-decoration: none;
}

#hero {
	color: #fff;
	text-align: center;
}

#footer {
	color: #62696c;
	text-align: center;
}
